<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414132843101-jih6ct9b8c0mk64v05nvpu6g7hdrs1i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414132843101-jih6ct9b8c0mk64v05nvpu6g7hdrs1i6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>414132843101-mf41mvc007er69q0chhv4mfae0aamrsn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBb4_hJRmFmCaqZrbmO8an0N8h_nOg58Ac</string>
	<key>GCM_SENDER_ID</key>
	<string>414132843101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amity.AmityCommunityApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-social-app-c38c1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-social-app-c38c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414132843101:ios:a184a390406ab286ebd3b4</string>
</dict>
</plist>